/*
 * @font-face mixin
 * @include font-face('family', '../fonts/', 'myfontname');
 */
@font-face {
  font-family: Nexa-Light;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/Nexa_Free_Light-webfont.eot") format("eot"), url("fonts/Nexa_Free_Light-webfont.woff") format("woff"), url("fonts/Nexa_Free_Light-webfont.ttf") format("truetype"), url("fonts/Nexa_Free_Light-webfont.svg#Nexa_Free_Light-webfont") format("svg"); }

* {
  -webkit-box-sizing: border-box; }

body {
  background: white;
  width: 95%;
  margin: 0 auto;
  font-family: arial;
  font-size: 16px; }

h1.main-titles {
  margin: 1em; }

.main-titles, h3 {
  margin: 0 0 10px 0;
  color: #646464;
  text-align: center; }

.web-link {
  text-decoration: none;
  color: #A2AF45; }

hr {
  margin: 2em 0;
  border: 0;
  height: 1px;
  border-bottom: 1px dashed #333; }

.column {
  width: 100%;
  padding: 0.5em;
  color: #646464; }
  @media screen and (min-width: 1024px) {
    .column {
      float: left;
      width: 50%; } }

/* --------------------------------------------
 	|| start of design tiles for this site || 
 -------------------------------------------- */
.tile {
  /* main properties of each tile */
  position: relative;
  margin: 0 0 1em 0;
  padding: 2%;
  height: auto;
  border: 1px dashed #333;
  background: white; }

.logo {
  /* height of logo tile */
  height: 242px; }

.headers {
  height: 350px; }

.logo, .headers, .colours, .fonts, .textures {
  font-family: 'Merriweather', serif; }

.logo {
  background-position: center; }

.logo img {
  width: 100%; }

.colours {
  /* height of colours tile */
  min-height: 262px;
  text-align: center; }

.pallets {
  /* global colour pallet size */
  height: 220px;
  width: 100px;
  border: 8px solid white;
  display: inline-block;
  margin: 0 4px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75); }

/* individual pallet colours - 1 to 5 */
.colour-one {
  background: white; }

.colour-two {
  background: white; }

.colour-three {
  background: white; }

.colour-four {
  background: white; }

.colour-five {
  background: #646464; }

.colour-hex-title {
  /* hex values of eact colour pallet */
  font-size: 0.8em;
  text-align: center;
  height: 30px;
  width: 109px;
  border: 8px solid white;
  display: inline-block; }

.titles {
  text-align: center; }

.fonts h1 {
  font-size: 2em; }

.fonts h2 {
  font-size: 1.5em; }

.fonts li {
  font-family: Nexa-Light;
  font-size: 1.1em;
  list-style: none;
  position: relative;
  margin: 5px 0; }

.fonts li:before {
  content: "\2022";
  font-size: 2em;
  position: absolute;
  left: -0.5em;
  top: -0.3em;
  color: white; }

.fonts p, .fonts a {
  font-family: Nexa-Light;
  font-size: 1.1em;
  letter-spacing: 0.05em; }

.fonts a {
  color: inherit;
  font-family: inherit;
  -webkit-transition: "all" "2s" "ease-in-out";
  -moz-transition: "all" "2s" "ease-in-out";
  -ms-transition: "all" "2s" "ease-in-out";
  -o-transition: "all" "2s" "ease-in-out";
  transition: "all" "2s" "ease-in-out"; }

.fonts a:hover, .fonts a:focus {
  color: white; }

.textures {
  /* height of textures tile */
  min-height: 262px;
  text-align: center; }

.texture {
  /* global colour pallet size */
  min-height: 250px;
  width: 20%;
  max-width: 100px;
  border: 8px solid white;
  display: inline-block;
  margin: 0 4px; }

/* individual pallet colours - 1 to 5 */
.texture-one {
  background: url("");
  /* placeholder */ }

.texture-two {
  background: url("");
  /* placeholder */ }

.texture-three {
  background: url("");
  /* placeholder */ }

.texture-four {
  background: url("");
  /* placeholder */ }

.texture-five {
  background: url("");
  /* placeholder */ }

.texture-title {
  /* hex values of eact colour pallet */
  font-size: 0.8em;
  text-align: center;
  height: 30px;
  width: 20%;
  max-width: 100px;
  border: 8px solid white;
  display: inline-block; }
