/*
 * @font-face mixin
 * @include font-face('family', '../fonts/', 'myfontname');
 */
@font-face {
  font-family: Nexa-Light;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/Nexa_Free_Light-webfont.eot") format("eot"), url("fonts/Nexa_Free_Light-webfont.woff") format("woff"), url("fonts/Nexa_Free_Light-webfont.ttf") format("truetype"), url("fonts/Nexa_Free_Light-webfont.svg#Nexa_Free_Light-webfont") format("svg"); }

* {
  -webkit-box-sizing: border-box; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

body {
  background: white;
  width: 1200px;
  margin: 0 auto;
  font-family: arial;
  font-size: 16px; }

.wrap {
  position: relative;
  background: url("../images/linedpaper.png");
  margin: 1em 0;
  padding: 0.5em;
  height: 1400px;
  -webkit-box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.75); }

h1.main-titles {
  margin: 1em; }

.main-titles, h3 {
  margin: 0;
  color: #3d3c3a;
  text-align: center; }

.web-link {
  text-decoration: none;
  color: #A2AF45; }

hr {
  margin: 2em 0;
  border: 0;
  height: 1px;
  border-bottom: 1px dashed #333; }

#right-column {
  height: 900px;
  margin-left: 50%;
  max-width: 50%;
  padding: 0.5em;
  color: #3d3c3a; }

#left-column {
  height: 900px;
  width: 50%;
  float: left;
  padding: 0.5em; }

/* --------------------------------------------
 	|| start of design tiles for this site || 
 -------------------------------------------- */
.tile {
  /* main properties of each tile */
  position: relative;
  margin: 0 0 1em 0;
  padding: 2%;
  height: auto;
  width: 575px;
  border: 1px dashed #333;
  background: white; }

.logo {
  /* height of logo tile */
  height: 242px; }

.headers {
  height: 350px; }

.logo, .headers, .colours, .fonts, .textures {
  font-family: 'Merriweather', serif; }

.logo {
  background-position: center;
  background-image: -webkit-linear-gradient(#19324a, #203c5f, #19324a);
  background-image: -o-linear-gradient(#19324a, #203c5f, #19324a);
  background-image: -moz-linear-gradient(#19324a, #203c5f, #19324a);
  background-image: linear-gradient(#19324a, #203c5f, #19324a);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF19324A', endColorstr='#FF203C5F', GradientType=1); }

.logo img {
  width: 100%; }

.colours {
  /* height of colours tile */
  height: 242px;
  text-align: center; }

.pallets {
  /* global colour pallet size */
  height: 220px;
  width: 100px;
  border: 8px solid white;
  display: inline-block;
  margin: 0 4px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75); }

/* individual pallet colours - 1 to 5 */
.colour-one {
  background: #203c5f; }

.colour-two {
  background: #217da0; }

.colour-three {
  background: #c6571b; }

.colour-four {
  background: #83af52; }

.colour-five {
  background: #3d3c3a; }

.colour-hex-title {
  /* hex values of eact colour pallet */
  font-size: 0.8em;
  text-align: center;
  height: 30px;
  width: 109px;
  border: 8px solid white;
  display: inline-block; }

.fonts h1 {
  font-size: 2em; }

.fonts h2 {
  font-size: 1.5em; }

.fonts li {
  font-family: Nexa-Light;
  font-size: 1.1em;
  list-style: none;
  position: relative;
  margin: 5px 0; }

.fonts li:before {
  content: "\2022";
  font-size: 2em;
  position: absolute;
  left: -0.5em;
  top: -0.3em;
  color: #83af52; }

.fonts p, .fonts a {
  font-family: Nexa-Light;
  font-size: 1.1em;
  letter-spacing: 0.05em; }

.fonts a {
  color: inherit;
  font-family: inherit;
  -webkit-transition: "all" "2s" "ease-in-out";
  -moz-transition: "all" "2s" "ease-in-out";
  -ms-transition: "all" "2s" "ease-in-out";
  -o-transition: "all" "2s" "ease-in-out";
  transition: "all" "2s" "ease-in-out"; }

.fonts a:hover, .fonts a:focus {
  color: #c6571b; }

.textures {
  /* height of textures tile */
  height: 242px;
  text-align: center; }

.texture {
  /* global colour pallet size */
  height: 220px;
  width: 100px;
  border: 8px solid white;
  display: inline-block;
  margin: 0 4px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75); }

/* individual pallet colours - 1 to 5 */
.texture-one {
  background: url("../images/linedpaper.png");
  /* placeholder */ }

.texture-two {
  background: url("../images/linedpaper.png");
  /* placeholder */ }

.texture-three {
  background: url("../images/linedpaper.png");
  /* placeholder */ }

.texture-four {
  background: url("../images/linedpaper.png");
  /* placeholder */ }

.texture-five {
  background: url("../images/linedpaper.png");
  /* placeholder */ }

.texture-title {
  /* hex values of eact colour pallet */
  font-size: 0.8em;
  text-align: center;
  height: 30px;
  width: 109px;
  border: 8px solid white;
  display: inline-block; }
